/* ==========================================================================
   AI ASSISTANT
   ========================================================================== */

.layout--ai-assistant {
  .archive__item-teaser {
    margin-bottom: 0.25em;
  }
}

.ai-icon {
  width: 100%;
  height: 100%;
}

/* Coze ai */

.chat-box {
  max-width: 100% !important;
  margin-bottom: 2em;
}
